<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaUsuario.Properties.Settings.Sistemas_II_CPVCConnectionString"
            connectionString="Data Source=DESKTOP-TJUAL38;Initial Catalog=Sistemas_II_CPVC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>